body {
    font-family: "Segoe UI", sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    background: #1e293b;
    border-bottom: 3px solid #334155;
}

h1 {
    margin: 0;
    font-size: 32px;
    color: #38bdf8;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
}

.card {
    background: #1e293b;
    margin: 25px auto;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    border-radius: 12px;
    border: 1px solid #334155;
}

h2 {
    margin-top: 0;
    font-size: 20px;
    color: #f8fafc;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #475569;
    background: #0f172a;
    color: #fff;
}

input:focus {
    outline: 2px solid #38bdf8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table thead {
    background: #334155;
}

table tbody tr:nth-child(even) {
    background: #273349;
}

.btn {
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.primary {
    background: #38bdf8;
    color: #0f172a;
}

.delete {
    background: #ef4444;
    color: #fff;
}

.success-msg {
    text-align: center;
    padding: 10px;
    background: #22c55e;
    margin: 10px 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.5;
}
